
/* COLORS */
:root {
  --offwhite:  #f6f1ee; 
  --primarylt: #fbdcce;
  --primaryltop: #fbdcce40;
  --primarydk: #efa885;
  --secondary: #5583a6;
  --tertiary:  #f6c270;
  --blktext: #010101;
  --whttext: #fafafa;
}

.topbox {
  height: 8%;
  width: 100% !important;
  /* position: fixed; */
  top: 0;
  background-color: var(--primarydk);
  font-family: 'Raleway', sans-serif;
  padding: 5px;
  margin-bottom: 0px;
}

.name {
  color: var(--secondary);
  font-family: 'Raleway', sans-serif;
  font-size: 2.0em;
  text-decoration: none;
  text-transform: uppercase;
}


.midbox1 {
}

.midbox2 {
}

.bottombox {
}

.about-basic {
  padding-top: 40px;
  background-color: var(--primarylt);
  height: 40vh;
}

.bg-basic {
  overflow-y: auto;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 40%;
  margin: auto;
}
.front-basic {
  padding: 8px;
  color: var(--offwhite);
}

