/* FONT FAMILIES */
@import url('https://fonts.googleapis.com/css2?family=Brawler&family=Poiret+One&family=Montserrat:wght@300&family=Mrs+Sheppards&family=Raleway:wght@300&display=swap');

/* fonts */
.rale {
  font-family: 'Raleway', sans-serif;
}

.mont {
  font-family: 'Montserrat', sans-serif;
}

.shepp {
  font-family: 'Mrs Sheppards', cursive;
}

.brawler {
  font-family: 'Brawler', serif;
}

.poi {
  font-family: 'Poiret One', cursive;
}


/* COLORS */
:root {
  --offwhite:  #f6f1ee; 
  --primarylt: #fbdcce;
  --primaryltop: #fbdcce40;
  --primarydk: #efa885;
  --secondary: #5583a6;
  --tertiary:  #f6c270;
  --blktext: #010101;
  --whttext: #fafafa;
}

/* color classes */
.black_text {
  color: var(--blktext)
}

.white_text {
  color: var(--whttext)
}

.offwhite_text {
  color: var(--offwhite)
}

.secondary_text {
  color: var(--secondary);
}

.tertiary_text {
  color: var(--tertiary);
}

.primarydk_text {
  color: var(--primarydk)
}

.primarylt_text {
  color: var(--primarylt)
}

.opaque-pink {
  background-color: var(--primaryltop);
}

/* BASE STYLES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html
{
  font-size: 62.5%; /*hack*/
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  /*This will set all REM to 10px, so that 1.8rem=18px*/
  height: 100%;
}

body
{
  font-family: 'Montserrat', 'Raleway', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.8em;/*with above hack is 18px*/
  font-weight: 400;
  line-height: 1.6;
  margin: 0;
  color: var(--blktext);
  background-color: var(--offwhite);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}


/* HEADER/NAV */
/* .header { */
/*     border-bottom: 1px solid #E2E8F0; */
/*     /1* height: 8vh; *1/ */
/*     width: 100%; */
/*     top: 0; */
/*     position: -webkit-sticky; */
/*     position: sticky; */
/*     background-color: var(--primarylt); */
/* } */

.navbar {
  border-bottom: 1px solid #E2E8F0;
  height: 8vh;
  width: 100%;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  background-color: var(--primarydk);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link{
  font-size: 1.6rem;
  color: var(--blktext);
}

.nav-link:hover{
  color: var(--offwhite);
}

.nav-logo {
  font-size: 2.7rem;
  font-weight: bold;
  color: var(--secondary);
  font-weight: bold;
  margin-right: 20px;
  margin-left: 20px;
}

.brand {
}

.nav-logo:hover
{
  color: var(--offwhite);
}

