
/* upper left name in navbar */
#top-name {
  color: #897376;
  font-family: 'Mrs Sheppards', cursive;
  /* text-decoration: underline; */
}

.topnav {
  padding: 1px;
}
/* fonts */
.rale {
  font-family: 'Raleway', sans-serif;
}

.mont {
  font-family: 'Montserrat', sans-serif;
}

.shepp {
  font-family: 'Mrs Sheppards', cursive;
}

/* front sections of parallax - padding */
.front-squish {
  padding-top: 3%;
}
.front-reg {
  padding-top: 8%;
}

/* half and three quarter views of parallax*/
.half-view {
  height: 50vh;
  min-height: 380px;
  padding-top: none;
}

.sevenfive-view {
  height: 75vh;
  min-height: 380px;
}

.twentyfive-view {
  height: 25vh;
  min-height: 300px;
}
.twenty-view {
  height: 25vh;
  min-height: 120px;
  width:100vw;
}

/* about page */
.about-view {
  height: 50vh;
  max-height: 400px;
  min-height: 300px;
  margin-top: 100px;
}

/* footer */
.footer {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  text-align: left;
  font-size: .5em;
}

/* for card backgrounds */
.opaque-pink {
  background-color: #fff1f140;
}

/* basic flex container*/ 
.flex {
  display: flex;
  justify-content: space-between;
}

.flex-around {
  display: flex;
  justify-content: space-around;
}
