
/* upper left name in navbar */
#top-name {
  color: #897376;
  font-family: 'Mrs Sheppards', cursive;
  /* text-decoration: underline; */
}

.topnav {
  padding: 1px;
}
/* fonts */
.rale {
  font-family: 'Raleway', sans-serif;
}

.mont {
  font-family: 'Montserrat', sans-serif;
}

.shepp {
  font-family: 'Mrs Sheppards', cursive;
}

/* front sections of parallax - padding */
.front-squish {
  padding-top: 3%;
}
.front-reg {
  padding-top: 8%;
}

/* half and three quarter views of parallax*/
.half-view {
  height: 50vh;
  min-height: 380px;
  padding-top: none;
}

.sevenfive-view {
  height: 75vh;
  min-height: 380px;
}

.twentyfive-view {
  height: 25vh;
  min-height: 300px;
}
.twenty-view {
  height: 25vh;
  min-height: 120px;
  width:100vw;
}

/* about page */
.about-view {
  height: 50vh;
  max-height: 400px;
  min-height: 300px;
  margin-top: 100px;
}

/* footer */
.footer {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  text-align: left;
  font-size: .5em;
}

/* for card backgrounds */
.opaque-pink {
  background-color: #fff1f140;
}

/* basic flex container*/ 
.flex {
  display: flex;
  justify-content: space-between;
}

.flex-around {
  display: flex;
  justify-content: space-around;
}

.sheDoes .card {
  }

  .rightie.in-view {
    animation-name: shakeR;
    animation-duration: 1s;
    animation-iteration-count: 1;
  }
 .in-view.leftie{
    animation-name: shakeL;
    animation-duration: 1s;
    animation-iteration-count: 1;
  }




/* KEYFRAME ANIMATIONS */
@keyframes shakeL {
	0% {
       opacity: 0.5;
       translate:-10px -10px;
	}
	50% {
      opacity: 1;
		}
}
@keyframes shakeR {
	0% {
       opacity: 0.5;
       translate:10px 10px;
	}
	50% {
      opacity: 1;
		}
}



// ANIMATION
@media screen and (max-width: 900px) {
  .sheDoes {
        div {
          width: 250px;
          flex-direction: column;
          div {
            width: 80%;
            margin: 10px;
          }
        }
        &:nth-of-type(even) {
          > div {
            left: -289px;
          }
    }
  }
}

@media screen and (max-width: 600px) {
  body {
    background: #8bfff4;
  }
  .sheDoes {
        margin-left: 20px;
        div {
          width: calc(100vw - 91px);
        }
        &:nth-of-type(even) {
          > div {
            left: 45px;
          }
    }
  }
}


